<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>GymApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.company.servlet.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OnemServlet</display-name>
    <servlet-name>OnemServlet</servlet-name>
    <servlet-class>com.company.servlet.OnemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnemServlet</servlet-name>
    <url-pattern>/OnemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FourmServlet</display-name>
    <servlet-name>FourmServlet</servlet-name>
    <servlet-class>com.company.servlet.FourmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FourmServlet</servlet-name>
    <url-pattern>/FourmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OneyServlet</display-name>
    <servlet-name>OneyServlet</servlet-name>
    <servlet-class>com.company.servlet.OneyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OneyServlet</servlet-name>
    <url-pattern>/OneyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getServlet</display-name>
    <servlet-name>getServlet</servlet-name>
    <servlet-class>com.company.servlet.getServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getServlet</servlet-name>
    <url-pattern>/getServlet</url-pattern>
  </servlet-mapping>
</web-app>